<ion-header>
  <ion-toolbar>
    <ion-title>Favorite Pokémons</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pokemon-grid">
    <ion-card *ngFor="let pokemon of favorites" [class]="'type-' + pokemon.types[0].type.name"
              (click)="openPokemonDetail(pokemon)">
      <div class="pokemon-image">
        <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" />
      </div>

      <ion-card-header>
        <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <span class="pokemon-type">{{ pokemon.types[0].type.name | titlecase }}</span>
        <ion-button fill="clear" (click)="removeFavorite(pokemon, $event)">
          <ion-icon name="heart" color="danger"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-note *ngIf="favorites.length === 0" class="empty-message">
    No favorite Pokémon yet.
  </ion-note>
</ion-content>